<h1><%= @story.title %></h1>

<%= link_to "add to this story!", new_story_contribution_path(@story), :class => "btn btn-success" %>

<% if @story.contributions.any? %>
  <h3>Here's the story so far:</h3>

  <ul>
    <% @story.contributions.each do |contribution| %>
    <div class="row tile-padding">
      <div class="col-md-6">
        <h2><%= contribution.sentence %></h2>
        <h2>by: <%= contribution.author %></h2>
      </div>
      <div class="col-md-6">
        <p><%= image_tag contribution.image %></p>
        <%= link_to "edit contribution", edit_story_contribution_path(@story, contribution), :class => "btn btn-xs btn-warning" %>
        <%= link_to "delete contribution", story_contribution_path(@story, contribution),:class => "btn btn-xs btn-danger",
        :data => {:confirm => "Are you sure you want to delete this contribution?",
          :method => "delete"} %>
        </div>
    </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no contributions yet!</p>
<% end %>


<p><%= link_to "edit this story", edit_story_path(@story), :class => "btn btn-xs btn-warning" %></p>

<p><%= link_to "delete this story", story_path(@story), :class => "btn btn-xs btn-danger",
                                  :data => {:confirm => "Are you sure you want to delete this story?",
                                            :method => "delete"} %></p>

<p><%= link_to "home", stories_path, :class => "btn btn-xs btn-info" %></p>
