<h1><%= @story.title %></h1>

<p><%= link_to "Add a contribution", new_story_contribution_path(@story) %></p>

<% if @story.contributions.any? %>
  <h4>Here are the contributions for this story:</h4>

  <ul>
    <% @story.contributions.each do |contribution| %>
    <li>
      <p><%= contribution.author %></p>
      <p><%= contribution.sentence %></p>
      <p><%= image_tag contribution.image %></p>
      <%= link_to "edit contribution", edit_story_contribution_path(@story, contribution) %>
      <%= link_to "delete contribution", story_contribution_path(@story, contribution),
      :data => {:confirm => "Are you sure you want to delete this contribution?",
        :method => "delete"} %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no contributions yet!</p>
<% end %>


<p><%= link_to "edit this story", edit_story_path(@story) %></p>

<p><%= link_to "delete this story", story_path(@story),
                                  :data => {:confirm => "Are you sure you want to delete this story?",
                                            :method => "delete"} %></p>

<p><%= link_to "home", stories_path %></p>
