<!DOCTYPE html>
<html>
  <head>
    <title>Story Time!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1 id="header"><%= link_to "Story Time", stories_path%><h1>
      <%= yield %>
    </div>
  </body>
</html>
